@model HomeViewModel

<partial name="_Carousel"/>

<H2>Os preferidos da semana</H2>
<H4>Tá com fome???</H4>

<div class="row">
@foreach(var lanche in Model.LanchesPreferidos)
    {
        <partial name="_LanchesResumo" for="@lanche" />
    }

</div>